.footer {
  height: 30vh;
  border-top: 1px;
  background-color: white;
  font-family: 'GoudyBookletter1911', serif;
  color: #989898;
  margin: 50px 0;
  hr{
    .hidden-sm-down {
      border-top: 1px solid rgba(87,87,87,.25);
      border: dotted;
      margin: 50px 0;
      border: 0;
      box-sizing: content-box;
      display: block;
      -webkit-margin-before: 0.5em;
      -webkit-margin-after: 0.5em;
      -webkit-margin-start: auto;
      -webkit-margin-end: auto;
    }
  }
  .left{
    text-align:left;
    float:left;
  }
  .right{
    float:right;
    text-align:right;
  }
  .centered{
    text-align:center;
  }
}
