.userShow {
  text-align: center;

  div.userImage{
    width: 150px;
    max-height: 150px;
    display: inline-block;
    overflow: hidden;
    img.userImage {
      width: 125px;
    }
  }
  h3 {
    text-align: center;
  }
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    img {
      width: 350px;
      height: auto;
      margin: 5px;
    }
  }
}
