.userShow {
  text-align: center;
  img {
    width: 100px;
    height: auto;
  }
  h3 {
    text-align: center;
  }
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    img {
      width: 350px;
      height: auto;
      margin: 5px;
    }
  }
}
