<div class="novelNew">
  <div class="picture-container jumbotron">
    <img ng-src="{{ new.novel.image }}" alt="" />
  </div>
  <div class="centered">
    <div class="content">
      <h2>New Novel</h2>
      <form ng-submit="new.submit()">
        <input type="hidden" id="novelUser" class="form-control" value="{{ main.user.id }}">
        <div class="input-group input-group-lg">
          <input type="text" id="novelTitle" class="form-control" placeholder="Start a new novel..." ng-model="new.novel.title"></input>
        </div>

        <button>Submit Novel </button>
      </form>
    </div>
  </div>
</div>
</div>
