<h1>Start a new novel...</h1>
<div class="novelNew">
  <form ng-submit="new.submit()">
    <input type="hidden" id="novelUser" class="form-control" value="{{ main.user.id }}">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">{{ main.user.username }}:</span>
      <textarea id="novelEntry sizing-addon1" class="form-control" placeholder="Title" ng-model="new.novel.title"></textarea>
      <span class="input-group-btn">
        <input class="btn btn-default" aria-describedby="sizing-addon1" type="submit" value="Add">
      </span>
    </div>
  </form>
<img ng-src="{{ new.novel.image }}" alt="" />
</div>
