<div class="novelShow">
  <div class="picture-container jumbotron">
    <img ng-src="{{ show.novel.image }}">
  </div>
  <div class="centered">
    <div class="content">
      <h1>{{ show.novel.title }}</h1>
      <h4>Started by <span ui-sref="usersShow({ id: show.novel.creator._id })">{{ show.novel.creator.username }}</span></h4>
      <button>{{ show.novel.status }}</button>
    </div>
  </div>

  <div class="novel-content">
    <div class="row">
      <div class="col-md-12 novel">
        <div class="content">
          <h2>Novel</h2>
          <span
            data-toggle="tooltip"
            class="prevEntry"
            title="{{ novelist.author.username }}"
            ng-repeat="novelist in show.novel.entries"
            ng-bind-html="novelist.body | rawHtml"></span>

          <span
            autofocus
            class="nextEntry"
            contenteditable="true"
            ng-model="show.entry"
            ng-if="!show.lastEntry">asdasda</span>

          <form ng-submit="show.submitEntry()" name="novelEntriesForm" ng-if="show.novelStatus">
            <input
              type="hidden"
              id="novelUser"
              class="form-control"
              value="{{ main.user.id }}">

            <input
              class="btn btn-default"
              aria-describedby="sizing-addon1"
              type="submit"
              value="Add"
              ng-disabled="novelEntriesForm.$invalid || !show.wordCountStatus">

            <p>WordCount: <span ng-bind="show.countOf(show.entry)"></span></p>
            <p>EntryCount: {{ show.entriesCount }}</p>

            <!-- Validation Check -->
            <p class="errorMessage" ng-if="!show.wordCountStatus">
              Please enter a maximum of {{ show.maxWordCount }} words
            </p>
          </form>
        </div>
      </div>
    </div>


    <span class="list-group entries" data-toggle="tooltip" title="{{ novelist.author.username }}" ng-repeat="novelist in show.novel.entries" ui-sref="usersShow({ id: novelist.author._id })">
      {{ novelist.body }}
    </span>

    <span>{{ show.novel.entries.body }}</span>

    <h3 ng-if="!show.lastEntry" class="errorMessage">Patience, you contributed to the novel last.</h3>


    <form ng-submit="show.submitComment()" name="novelCommentForm">
      <input type="hidden" id="novelUser" class="form-control" value="{{ main.user.id }}">
      <label for="novelComment">Add Comment</label>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">{{ main.user.username }}:</span>
        <textarea id="novelComment sizing-addon3" class="form-control" placeholder="I think..." ng-model="show.novel.comments.body" required></textarea>
        <span class="input-group-btn">
          <input class="btn btn-default" aria-describedby="sizing-addon3" type="submit" value="Add" ng-disabled="novelCommentForm.$invalid">
        </span>
      </div>
    </form>
    <h3>Comments</h3>
    <ul ng-repeat="comments in show.novel.comments | orderBy:'-'">
      <li>{{ comments.createdAt }} | {{ comments.author.username }} > {{ comments.body }}</li>
    </ul>
  </div>
</div>
