<div class="novelShow">
  <h1>{{ show.novel.title }}</h1>
  <p>{{ show.novel.creator }}</p>
  <img src="{{ show.novel.image }}">
  <div class="input-group input-group-lg">
    <h2 class="input-group-addon">Status: {{ show.novel.status }}</h2>
  </div>
  <ul class="list-group" ng-repeat="novelist in show.novel.entries">
    {{ novelist.author.username }}
    <li class="list-group-item">{{ novelist.author.username }}</li>
    <li class="list-group-item">{{ novelist.body }}</li>
  </ul>
  <ul class="list-group" ng-repeat="comment in show.novel.comments">
    <li class="list-group-item">{{ comment.author.username }}</li>
    <li class="list-group-item">{{ comment.body }}</li>
  </ul>
  <li class="list-group-item">{{ show.novel.entries.body }}</li>    <!--may take this out later-->

  <form ng-submit="show.submit()">
    <input type="hidden" id="novelUser" class="form-control" value="{{ main.user.id }}">
    <label for="novelEntry">Continue Novel</label>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">{{ main.user.username }}:</span>
      <textarea id="novelEntry sizing-addon1" class="form-control" placeholder="and then...." ng-model="show.novel.entries.body"></textarea>
      <span class="input-group-btn">
        <input class="btn btn-default" aria-describedby="sizing-addon1" type="submit" value="Add">
      </span>
    </div>
  </form>

</div>
<div class="footer">
  <p class="left">Contact Us<br />Next line here</p>
  <p class="right">Connect<br />Next line here</p>
  <p class="centered">Visit Us<br />Next line here</p>
</div>
