<div class="novelShow">
  <h1>{{ show.novel.title }}</h1>
  <p>{{ show.novel.creator }}</p>
  <img src="{{ show.novel.image }}">
  <h2>{{ show.novel.status }}</h2>
  <ul ng-repeat="entry in show.novel.entries">
    <li>{{ entry.author }}</li>
    <li>{{ entry.body }}</li>
  </ul>
  <ul ng-repeat="comment in show.novel.comments">
    <li>{{ comment.author }}</li>
    <li>{{ comment.body }}</li>
  </ul>
  <form>
    <input type="text" name="name" placeholder="Add to the novel" value="">
    <input type="submit" value="Add">
  </form>
</div>
