@font-face {
  font-family: 'Dancing-Script';
  src: url('../fonts/Dancing-Script.ttf');
}

@font-face {
  font-family: 'GoudyBookletter1911';
  src: url('../fonts/GoudyBookletter1911.ttf');
}

@font-face {
  font-family: 'Hind-Bold';
  src: url('../fonts/Hind-Bold.ttf');
}

@font-face {
  font-family: 'Hind-Light';
  src: url('../fonts/Hind-Light.ttf');
}

@font-face {
  font-family: 'Hind-Regular';
  src: url('../fonts/Hind-Regular.ttf');
}

@font-face {
  font-family: 'NovaSlim';
  src: url('../fonts/NovaSlim.ttf');
}

@font-face {
  font-family: 'Ruthie-Regular';
  src: url('../fonts/Ruthie-Regular-OTF.otf');
}
