@import 'partials/_bower.scss';
@import 'partials/_index.scss';
@import 'partials/_navbar.scss';
@import 'partials/_footer.scss';
@import 'partials/_novelShow.scss';
@import 'partials/_novelNew.scss';

@import 'mixins/_mixins.scss';

@import 'variables/_fonts.scss';

@import 'mixins/_mixins.scss';

@import 'variables/_fonts.scss';

html {
  background-color: #fff;
  margin: 0 auto;
  color: black;
}
a {
  color: black;
}

.icon-bar {
  background-color: #000000;
}

.navbar {
    width: 100%;
    top: 0;
    background-color: rgba(250, 250, 250, 0.9);
  .navbar-left {
    font-size: 18px;
    font-family: 'GoudyBookletter1911', serif;
    color: black;
    margin: 0;
    height: 50px;
    h4 {
      line-height: 50px;
      font-size: 35px;
      margin: 0;
      margin-left: 21px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  .navbar-brand {
    padding: 15px;
    font-size: 12px;
    font-family: 'GoudyBookletter1911', serif;
    line-height: 0px;
    margin-top: 0px;;
    border: 0px;
    img{
      height: 50px;
      width: auto;
    }
  }
.navbar-center {
    font-family: 'GoudyBookletter1911', serif;
    text-align: center;
    text-shadow: 1px 1px 1px white, 0 0 1em white, 0 0 0.2em white;
    font-size: 30px;
    text-align: center;
    box-sizing: content-box;
    background-color: white;
    margin-left: 0px;
    margin-right: 150px;

    .brand-name {
      color: black;
      font-size: 48px;
      font-family: 'GoudyBookletter1911', serif;
      margin-top: 25px;
      padding: 0px;
      text-decoration: none;
      list-style: none;
      display: block;

    }
    .brand-slogan {
      padding: 5px;
      font-size: 30px;
      color: black;
      margin-top: 30px;
      margin-bottom: 0px;
      text-decoration: none;
      list-style: none;
      display: block;
    }
    hr{
      .hidden-sm-down {
        border-top: 1px solid rgba(87,87,87,.25);
        border: dotted;
        margin: 50px 0;
        border: 0;
        // box-sizing: content-box;
        display: block;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
      }
    }
  }
  .navbar-right {
    font-size: 14px;
    font-family: 'GoudyBookletter1911', serif;
    color: black;
    margin: 0;
  }
}

.navbar-default, .navbar-collapse {
  font-family: 'NovaSlim', serif;
  color: #363537;
  margin: 0;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px white, 0 0 1em white, 0 0 0.2em white;
  margin-top: 75px;
  font-size: 48px;
  color: #363537;
  font-family: 'GoudyBookletter1911', serif;
}

h2 {
  text-shadow: 1px 1px 1px white, 0 0 1em white, 0 0 0.2em white;
  font-size: 30px;
  color: #363537;
  font-family: 'GoudyBookletter1911', serif;
}

#logo {
  height: 100vh;
  background-image: url('https://source.unsplash.com/random/');
  background-repeat: no-repeat;
  background-size: cover;

  h1, h2 {
    position: absolute;
    bottom: 50px;
    left: 100px;
}
h1 {
  bottom: 150px;
}
}

.navbar-header {
  float: none;
}
.navbar-left,.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  text-align: right;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {

  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}
