@import '_fonts.scss';

navbar-default {
  font-family: 'NovaSlim', serif;
  text-align: right;
  color: #363537;
}
navbar-collapse {
  font-family: 'NovaSlim', serif;
  text-align: right;
  color: #363537;
}
h1, h2 {
  font-size: 48px;
  color: #363537;
  font-family: 'Goudy Bookletter 1911', serif;
  text-align: center;
}
